<div class="container-fluid vh-100 p-0 overflow-hidden">
  <div class="row g-0 h-100">
    <!-- Left column: centered form -->
    <div class="col-md-8 d-flex flex-column justify-content-center align-items-center p-4 h-100 overflow-auto">
      <div class="container">
        <div class="card shadow">
          <div class="card-body">
            <div class="text-center mb-4">
              <%= image_tag 'logo.png',
                            alt: 'Logo',
                            class: 'img-fluid mb-3',
                            style: 'height: 6rem;' %>
              <h2>Change your password</h2>
            </div>

            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <%= f.hidden_field :reset_password_token %>

              <div class="row g-3">
                <div class="col-md-6">
                  <%= f.label :password, "New password", class: 'form-label' %>
                  <% if @minimum_password_length %>
                    <small class="text-muted d-block">(<%= @minimum_password_length %> characters minimum)</small>
                  <% end %>
                  <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
                </div>

                <div class="col-md-6">
                  <%= f.label :password_confirmation, "Confirm new password", class: 'form-label' %>
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                </div>

                <div class="col-12">
                  <%= f.submit "Change my password", class: "btn btn-primary w-100" %>
                </div>
              </div>
            <% end %>

            <div class="mt-4 text-center">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Right column: image -->
    <div class="col-md-4 p-0 h-100 d-none d-md-block position-relative">
      <div class="h-100 d-flex justify-content-end">
        <%= image_tag 'SubConscious-landing.png',
                      alt: 'Brain Connections',
                      class: 'h-100',
                      style: 'object-fit: contain; object-position: right center;' %>
      </div>
    </div>
  </div>
</div>
